<div class="item-container">
  <div class="item-card">

    <h2>Edit Your Item</h2>


    <form method="post" action="/edit/<%= @item%>">
      <label>Item Name:</label>
      <input type="text" name="item" value="<%= @item%>" readonly>
      <label>Quantity:</label>
      <input type="number" name="quantity" min = "1" value="<%= @quantity%>" required>
      <input type="submit" value="submit">
    </form>
  </div>

</div>
