<table class="inventory-table">
  <tr>
    <th>ITEM</th>
    <th>QUANTITY</th>
    <th>UNIT</th>
  </tr>
  <% @items.each do |item|%>
  <tr>
    <td><%= item.itemname %></td>
    <td><%= item.quantity %></td>
    <td><%= item.unit%></td>
  </tr>
  <% end%>
</table>
